@model IEnumerable<Sivas.Models.Products>

@{
    ViewBag.Title = "Home Page";
}

@section styles{    
    <link href="~/Content/customLand.css" rel="stylesheet" />
    <link href="~/Content/customPort.css" rel="stylesheet" />
}

<script type="text/javascript">
    function GoToRoom(category) {
        window.location = '@Html.Raw(@Url.Action("Category", "Products"))' + '?category=' + category;
    }
</script>

<div class="ProductContainer">
    @foreach (var item in Model)
    {
        <div class="product" @("onclick=GoToRoom('" + item.Category + "')")>
            <div class="Overlap"><span class="Text">See More</span></div>
            <div @(item.Landscape == true ? "class=product_ImageLand" : "class=product_ImagePort")>
                @{
                    var message = item.Category + " " + item.Model;
                }
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.Image))" @(item.Landscape == true ? "class=product_ImageLand" : "class=product_ImagePort") alt="@message" />
            </div>
            <div class="product_Title">@item.Category </div>
            <div @(item.Landscape == true ? "class=PriceHolderLand" : "class=PriceHolderPort")><span class="Text">@item.Price</span></div>
        </div>
                    }
</div>