@model IEnumerable<Sivas.Models.Products>

@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/Content/customLand.css" rel="stylesheet" />
    <link href="~/Content/customPort.css" rel="stylesheet" />
}

<script type="text/javascript">
    function GoToRoom(category) {
        window.location = '@Html.Raw(@Url.Action("Category", "Products"))' + '?category=' + category;
    }
</script>

<div class="ProductContainer">
    @foreach (var item in Model)
    {
        <div class="product" @("onclick=GoToRoom('" + item.Category + "')")>
            <div class="Overlap"><span class="Text">See More</span></div>
            <div @(item.Landscape == true ? "class=product_ImageLand" : "class=product_ImagePort")>
                @{
                    var message = item.Category + " " + item.Model;
                }
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.Image))" @(item.Landscape == true ? "class=product_ImageLand" : "class=product_ImagePort") alt="@message" />
            </div>
            <div @(item.Landscape == true ? "class=product_DescriptionLand" : "class=product_DescriptionPort")>
                <span class="product_Title">@item.Category </span>
                <span class="Company">@item.Company  @item.Brand </span>
                <span class="EneryStar">
                    @{
                        if (item.Landscape)
                        {
                            if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Five)
                            {
                                <img src="~/image/EnergyStarLand/FiveStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Four)
                            {
                                <img src="~/image/EnergyStarLand/FourStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Three)
                            {
                                <img src="~/image/EnergyStarLand/ThreeStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Two)
                            {
                                <img src="~/image/EnergyStarLand/TwoStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.One)
                            {
                                <img src="~/image/EnergyStarLand/OneStar.png" />
                            }
                        }
                        else
                        {
                            if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Five)
                            {
                                <img src="~/image/EnergyStarPort/FiveStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Four)
                            {
                                <img src="~/image/EnergyStarPort/FourStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Three)
                            {
                                <img src="~/image/EnergyStarPort/ThreeStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.Two)
                            {
                                <img src="~/image/EnergyStarPort/TwoStar.png" />
                            }
                            else if (item.EnergyStar == Sivas.Models.ProductEnergyStar.One)
                            {
                                <img src="~/image/EnergyStarPort/OneStar.png" />
                            }
                        }
                    }
                </span>
                @{
                    if (item.Offer)
                    {
                        if (item.Landscape)
                        {
                            <span class="Offer">
                                <img src="~/image/EnergyStarLand/Offer.png" />
                            </span>
                        }
                        else
                        {
                            <span class="Offer">
                                <img src="~/image/EnergyStarPort/Offer.png" />
                            </span>
                        }
                    }
                }
                <span class="Color">@Html.DisplayFor(model => item.Color)</span>
                <span class="Specification">
                    @{
                        var displaySpecification = "<ul><li>";
                        if (item.Specification.Contains("~"))
                        {
                            displaySpecification += item.Specification.Replace("~", "</li><li>");
                        }
                        else
                        {
                            displaySpecification += item.Specification;
                        }
                        displaySpecification += "</li></ul>";
                        item.Specification = displaySpecification;
                    }
                    @Html.Raw(Server.HtmlDecode(item.Specification))
                </span>
                <span class="Description">@Html.DisplayFor(model => item.Description)</span>
            </div>
            <div @(item.Landscape == true ? "class=PriceHolderLand" : "class=PriceHolderPort")><span class="Text">@item.Price</span></div>
        </div>
                        }
</div>