@model Sivas.Models.Products

@{
    ViewBag.Title = "Details";

}
@section styles{
    @if (Model.Landscape == true)
    {
        <link href = "/Sivas/Content/customLand.css" rel = "stylesheet" />
    }
    else
    {
        <link href = "/Sivas/Content/customPort.css" rel = "stylesheet" />
    }
}

<div class="ProductContainer">
    <div class="product">
        <div class="product_Image">
            @{
                var message = Model.Category + " " + Model.Model;
            }
            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image))" class="product_Image" alt="@message" />
        </div>
        <div class="product_Description">
            <span class="Brand">@Html.DisplayFor(model => model.Category)</span>
            <span class="Model">@Html.DisplayFor(model => model.Brand)</span>
            <span class="EneryStar">@Html.DisplayFor(model => model.EnergyStar)</span>
            <span class="Color">@Html.DisplayFor(model => model.Color)</span>
            <span class="Specification">@Html.DisplayFor(model => model.Specification)</span>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
