@model Sivas.Models.Products

@{
    ViewBag.Title = "Details";
}

@section styles{
    @if (Model.Landscape == true)
    {
        <link href="/Sivas/Content/customLand.css" rel="stylesheet" />
    }
    else
    {
        <link href="/Sivas/Content/customPort.css" rel="stylesheet" />
    }
}
<div class="ProductContainer">
    <div class="product">
        <div @(Model.Landscape == true ? "class=product_ImageLand" : "class=product_ImagePort")>
            @{
                var message = Model.Category + " " + Model.Model;
            }
            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image))" @(Model.Landscape == true ? "class=product_ImageLand" : "class=product_ImagePort") alt="@message" />
        </div>
        <div @(Model.Landscape == true ? "class=product_DescriptionLand" : "class=product_DescriptionPort")>
            <span class="Category">@Html.DisplayFor(model => model.Category)</span>
            <span class="Company">@Html.DisplayFor(model => model.Company)</span>
            <span class="Brand">@Html.DisplayFor(model => model.Brand)</span>
            <span class="Model">@Html.DisplayFor(model => model.Model)</span>
            @*<span class="Image">@Html.DisplayFor(model => model.Image)</span>*@
            <span class="Landscape">@Html.DisplayFor(model => model.Landscape)</span>
            <span class="EneryStar">
                @{
                    if (Model.EnergyStar == Sivas.Models.ProductEnergyStar.Five)
                    {
                        <img src="~/image/EnergyStarLand/FiveStar.png" />
                    }
                    else if (Model.EnergyStar == Sivas.Models.ProductEnergyStar.Four)
                    {
                        <img src="~/image/EnergyStarLand/FourStar.png" />
                    }
                    else if (Model.EnergyStar == Sivas.Models.ProductEnergyStar.Three)
                    {
                        <img src="~/image/EnergyStarLand/ThreeStar.png" />
                    }
                    else if (Model.EnergyStar == Sivas.Models.ProductEnergyStar.Two)
                    {
                        <img src="~/image/EnergyStarLand/TwoStar.png" />
                    }
                    else if (Model.EnergyStar == Sivas.Models.ProductEnergyStar.One)
                    {
                        <img src="~/image/EnergyStarLand/OneStar.png" />
                    }
                }
            </span>
            <span class="Price">@Html.DisplayFor(model => model.Price)</span>
            @{
                if (Model.Offer)
                {
                    if (Model.Landscape)
                    {
                        <span class="Offer">
                            <img src="~/image/EnergyStarLand/Offer.png" />
                        </span>
                    }
                    else
                    {
                        <span class="Offer">
                            <img src="~/image/EnergyStarPort/Offer.png" />
                        </span>
                    }
                }
            }
            <span class="Color">@Html.DisplayFor(model => model.Color)</span>
            <span class="Specification">
                @{
                    var displaySpecification = "<ul><li>";
                    if (Model.Specification.Contains("~"))
                    {
                        displaySpecification += Model.Specification.Replace("~", "</li><li>");
                    }
                    else
                    {
                        displaySpecification += Model.Specification;
                    }
                    displaySpecification += "</li></ul>";
                    Model.Specification = displaySpecification;
                }
                @Html.Raw(Server.HtmlDecode(Model.Specification))
            </span>
            <span class="Description">@Html.DisplayFor(model => model.Description)</span>
        </div>
    </div>
</div>
<p>
    @{
        if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
