@model IEnumerable<Sivas.Models.Products>

@{
    ViewBag.Title = "Index";
}

@section styles{
    @*@if (Model[0].Model.Landscape == true)
        {
            < link href = "~/Content/customLand.css" rel = "stylesheet" />
        }
        else
        {
            < link href = "~/Content/customPort.css" rel = "stylesheet" />
        }*@
    <link href="~/Content/customLand.css" rel="stylesheet" />
}
<script type="text/javascript">
    function GoToRoom(id) {
        window.location = "/Sivas/Products/Details?id=" + id;                
    }
</script>

<h2>Index</h2>
<div class="ProductContainer">
    @foreach (var item in Model)
    {
        <div class="product" @("onclick=GoToRoom('" + item.Id + "')")>
            <div class="product_Image">
                @{
                    var message = item.Category + " " + item.Model;
                }
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.Image))" class="product_Image" alt="@message" />
            </div>
            <div class="product_Description">
                <span class="Brand">@Html.DisplayFor(model => item.Category)</span>
                <span class="Model">@Html.DisplayFor(model => item.Brand)</span>
                <span class="EneryStar">@Html.DisplayFor(model => item.EnergyStar)</span>
                <span class="Color">@Html.DisplayFor(model => item.Color)</span>
                <span class="Specification">
                    @{
                        var displaySpecification = "<ul><li>";
                        if (item.Specification.Contains("~"))
                        {
                            displaySpecification += item.Specification.Replace("~", "</li><li>");
                        }
                        else
                        {
                            displaySpecification += item.Specification;
                        }
                        displaySpecification += "</li></ul>";
                        item.Specification = displaySpecification;
                    }
                    @Html.Raw(Server.HtmlDecode(item.Specification))
                </span>                
            </div>
        </div>
                        }
</div>